@{
    ViewData["Title"] = "Login";
}
<head>
    <!--~ Link CSS  -->
    <link rel="stylesheet" href="~/css/Login.css">
    
    <!--~ Link Boxicons  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Login</title>
</head>

<div class="my-5">
    @await Html.PartialAsync("_LoginPart")
</div>


