@model LoginUser
<div class="container py-5">
    <div class="card p-5" style="max-height:100vh">
        <div class="row d-flex justify-content-center">
            <div class="side col-md-6">
                <img src="~/img/TrashToCash1.webp" class="img-fluid" style="max-height:100vh">
            </div>
            <div class="main col-md-6 p-5">
                <p class="title">member login</p>

                <form asp-action="Login" asp-controller="Home" method="post">
                    <div class="form-control">
                        <input type="text" asp-for=LoginEmail placeholder="Email" required>
                        <span class="text-danger" asp-validation-for="LoginEmail"></span>
                        <div class="focused-border"></div>
                        <i class='bx bxs-envelope'></i>
                    </div>
                    <div class="form-control">
                        <input type="password" asp-for=LoginPassword placeholder="Password" required>
                        <span class="text-danger" asp-validation-for="LoginPassword"></span>
                        <div class="focused-border"></div>
                        <i class='bx bxs-lock-open-alt'></i>
                    </div>

                    <button class="action">login</button>
                </form>
                <p class="register">Not an account?<a asp-controller="Companies" asp-action="Create">Register</a></p>
            </div>
        </div>
    </div>
</div>



