@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans serif;
}



:root {
    /* Colors */
    --primary-color: rgb(48, 10, 84);
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #cef5aa;
    --box2-color: #E7BC91;
    --box3-color: #d5b1f6;
    --title-icon-color: #fff;
    /* Transition */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
}

    nav.close {
        width: 73px;
    }

    nav .logo-name {
        display: flex;
        align-items: center;
    }

    nav .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
        padding: 10px 14px;
    }

        nav .logo-image img {
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

    nav .logo-name .company-name {
        font-size: 22px;
        font-weight: 400;
        color: var(--text-color);
        margin-top: 15px;
        margin-left: 14px;
        transition: var(--tran-05);
    }

    nav.close .company-name {
        opacity: 0;
        pointer-events: none;
    }

    nav .menu-items {
        margin-top: 40px;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.menu-items li {
    list-style: none;
}

    .menu-items li a {
        display: flex;
        align-items: center;
        height: 50px;
        text-decoration: none;
        color: #707070;
        position: relative;
    }


        .menu-items li a i {
            font-size: 24px;
            min-width: 45px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black-light-color);
        }

        .menu-items li a .link-name {
            font-size: 18px;
            font-weight: 400;
            color: var(--black-light-color);
            transition: var(--tran-05);
        }

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}


.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    height: 60px;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    /* border-bottom: var(--border-color) 1px solid; */
}

nav.close ~ .dashboard .top {
    height: 50px;
    left: 73px;
    width: calc(100% - 73px);
    /* border-bottom: var(--border-color) 1px solid; */
}

.btn1 {
    background: #317323;
    color: #fff;
    width: 140px;
    height: 30px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 3px #222;
}


.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .top-links {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


    .dashboard .top .top-links a {
        font-size: 17px;
        font-weight: 400;
        color: var(--black-light-color);
        padding: 5px;
        text-decoration: none;
    }

        .dashboard .top .top-links a:hover {
            border-bottom: 2px solid var(--box1-color);
        }

.dashboard .dash-content {
    padding: 50px;
}

.dash-content .overview .title {
    display: flex;
    align-items: center;
}

    .dash-content .overview .title .text1 {
        font-size: 24px;
        font-weight: 500;
        color: var(--text-color);
        margin-top: 20px;
        
    }

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

    .dash-content .boxes .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: calc(100% / 3 - 15px);
        padding: 15px 20px;
        background-color: var(--box1-color);
    }

.box .text2 {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.box .number {
    white-space: nowrap;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.box i {
    font-size: 35px;
    color: var(--text-color);
}

/** Logout button **/

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.199);
    background-color: rgb(84, 234, 101);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

    .sign svg {
        width: 17px;
        
    }

        .sign svg path {
            fill: white;
        }
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 400;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

    .Btn:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }
    /* hover effect button's text */
    .Btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }
/* button click effect*/
.Btn:active {
    transform: translate(2px,2px);
}

/* **************** */

.dash-content .recent-waste .title {
    display: flex;
    align-items: center;
    margin: 70px 30px 0;
}

    .dash-content .recent-waste .title i {
        position: relative;
        height: 35px;
        width: 35px;
        background-color: #6cbe5c;
        border-radius: 6px;
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .dash-content .recent-waste .title .text3 {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);
        margin-left: 10px;
    }

table {
    margin-top: 20px;
}

.btn-position {
    text-align: end;
}

    .btn-position .btn2 {
        background: #4c8f3f;
        color: #fff;
        width: 170px;
        height: 30px;
        margin-top: 40px;
        margin-right: 40px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 3px #222;
    }

.card-footer i {
    font-size: 20px;
    min-width: 45px;
    height: 100%;
    color: blueviolet;
}

/** Snippet **/
.snip1566 {
    position: relative;
    top: -30px;
    left: 38%;
    transform: translateY(-50%);
    /* position: relative;
  display: inline-block; */
    margin-top: 20px;
    max-width: 190px;
    width: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

    .snip1566 *,
    .snip1566:before,
    .snip1566:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .snip1566:before,
    .snip1566:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
        border: 2px solid #bbb;
        border-color: transparent #bbb;
    }

    .snip1566 img {
        max-width: 100%;
        backface-visibility: hidden;
        vertical-align: top;
        border-radius: 50%;
        padding: 10px;
    }

    .snip1566 figcaption {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 50%;
    }

    .snip1566 i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 4em;
        z-index: 1;
    }

    .snip1566 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .snip1566:hover figcaption,
    .snip1566.hover figcaption {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .snip1566:hover:before,
    .snip1566.hover:before,
    .snip1566:hover:after,
    .snip1566.hover:after {
        border-width: 10px;
    }

    .snip1566:hover:before,
    .snip1566.hover:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .snip1566:hover:after,
    .snip1566.hover:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
/** End Snippet **/

